* {
    padding: 0;
    margin: 0;
}
.contactTitre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 4rem;
}

.contactGrid {
    display: grid;
    grid-template-columns: 25% 30% 40%;
    gap: 1rem;
    margin: 1rem auto;
    width: 95%;
}

.hrContact {
    border-top: 1px solid;
    color: #696363;
    margin: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    border-radius: 10px;
}

.containerC {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.421);
    border: 0.7rem solid rgba(0, 0, 0, 0.417);
    height: 400px;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .btnC {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cd4b52;
    color: #111;
    font-size: 1rem;
    border-radius: 10px;
    padding: 5px;
    border: none;
    width: 60%;
    height: 2rem;
    margin: 0 auto;
    cursor: pointer;
  }
 
  .inputC2 {
    height: 1.5rem;
    display: flex;
    width: 100%;
  }

  .inputC {
    height: 1.5rem;
    width: 3.5rem;
    display: flex;
  }
  .inputC1 {
    height: 1.5rem;
    display: flex;
    width: 70%;
    margin: 0 auto;
    font-size: 0.8rem;
    color: black;
  }
  .inputC3 {
    height: 4rem;
    display: flex;
    width: 70%;
    margin:0 auto;
  }

  .formInput {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    gap: 5rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

.inputText {
    display: flex;
    font-size: 0.9rem;
    font-style: italic;
    color: #eee;
}

  .contactAdresse{
    display: grid;
    grid-template-rows: 30% 20% 20%;
    align-content: center;
    flex-direction: column;
    justify-content: center;
  }

  .contactAdresse i {
    font-size: 1.5rem;
    color: #cd4b52;
  }

  .contactAdresse h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .mapContact {
    height: 450px;
  }

.footer {
    background: #353b48;
    color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    margin-top: 100px;  
}

.footerContent {
    display: grid;
    grid-template-columns: 30% 30%;
    grid-row: auto auto;
    gap: 1.5rem;
    margin: auto;
    width: 80%;
    justify-content: space-evenly;
}

  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 50%;
    height: 50%;
    color: #000;
    overflow: auto;
}

.popup-content {
    text-align: center;
}

#closePopupBtn {
    margin-top: 10px;
}

.btnMention {
    width: 40%;
    height: 50%;
}

.retour {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    padding-bottom: 4.5rem;
    color: red;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .contactGrid {
        display: grid;
        grid-template-columns: 1fr;
        width: 95%;
        gap: 2rem;
    }

    .contactTitre {
        font-size: 2.5rem;
        margin: 2rem;
        text-align: center;
    }

    .contactAdresse {
        grid-template-rows: auto;
        gap: 0.1rem;
        text-align: center;
        margin-top: 0.2rem;
    }

    .contactAdresse h3 {
        font-size: 1.3rem;
        margin: 1rem 0;
    }

    .contactAdresse p {
        margin: 0.5rem 0;
    }

    .containerC {
        height: auto;
        padding: 1rem 1rem;
    }
    .formInput {
        gap: 2.5rem;
    }

    .footer {
        margin-top: 1px;
    }

    .retour {
        padding-bottom: 1.5rem;
    }

    .footerContent {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .btnMention {
        width: 80%;
        height: 30px;
        margin: 0 auto;
        border-radius: 5px;
    }
    .popup {
        width: 80%;
        height: 70%;
    }

}

@media screen and (max-width: 375px) {
    .contactTitre {
        font-size: 2rem;
        margin: 2rem;
    }

    .contactAdresse {
        gap: 1.5rem;
    }

    .contactAdresse h3 {
        font-size: 1.2rem;
    }

    .contactAdresse i {
        font-size: 1.2rem;
    }

    .inputC1, .inputC2, .inputC3 {
        width: 90%;
    }
}