{% extends 'base.html.twig' %}

{% block title %}Tarifs{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('styles/tarif.css') }}">
{% endblock %}

{% block body %}
<main class="tarif" id="tarifs">
        <h1 class="tarifT">TARIFS</h1>
        <h3 class="tarifT2">Un tarif adapté à un site internet de qualité !</h3>
        <hr class="hrTarif">
        <div class="devisContent">
            <h1 class="devis">un projet? une idée? hesitez pas à demander un devis gratuit...</h1>
        </div>
        <div>
            <div class="tarifContent">
                <div class="tarifContent1">
                    <h3 class="tarifContentTitre">Site Vitrine <br>Standars</h3>
                    <hr class="hrTarif1"><br><br>
                    <p class="tarifTitreP">A partir de</p>
                    <p class="tarifP">1300<sup class="euro">€</sup><sup class="etoile2">*</sup></p><br><br>
                    <hr class="hrTarif1"><br><br>

                    <div class="tarifContentText">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText"> Site statique / basique</p>
                    </div>
                    <div class="tarifContentText1">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Charte graphique à partir d'une maquette pré-définie</p>
                    </div>
                    <div class="tarifContentText">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Domaine + hébergement pendant 12 mois</p>
                    </div>
                    <div class="tarifContentText1">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Interface administrateur STANDARD</p>
                    </div>
                    <div class="tarifContentText">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Site responsive <br>(adapté tous supports)</p>
                    </div>
                    <div class="tarifContentText1">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Mise en place du contenu (textes &amp images)</p>
                    </div>
                    <div class="tarifContentText">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Formulaire de contact</p>
                    </div>
                    <div class="tarifContentText1">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Lien de partage sur les réseaux sociaux</p>
                    </div>
                    <div class="tarifContentText">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Optimisation du référencement</p>
                    </div>
                    <div class="tarifContentText1">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Mise en ligne du site</p>
                    </div>
                    <div class="tarifContentText">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Formation utilisation du site</p>
                    </div>   
                </div>
                <div class="tarifContent2">
                    <h3 class="tarifContentTitre">Site Vitrine <br>Personalisé</h3>
                    <hr class="hrTarif1"><br><br>
                    <p class="tarifTitreP">A partir de</p>
                    <p class="tarifP">1800<sup class="euro">€</sup><sup class="etoile">*</sup></p><br><br>
                    <hr class="hrTarif1"><br><br>
                    <div class="tarifContentText">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText"> Développé SUR-MESURE <br>(Codage à la main)</p>
                    </div>
                    <div class="tarifContentText1">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Création d'une charte graphique personalisée</p>
                    </div>
                    <div class="tarifContentText">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Domaine + hébergement pendant 12 mois</p>
                    </div>
                    <div class="tarifContentText1">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Interface administrateur SUR-MESURE</p>
                    </div>
                    <div class="tarifContentText">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Site responsive <br>(adapté tous supports)</p>
                    </div>
                    <div class="tarifContentText1">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Mise en place du contenu (textes &amp images)</p>
                    </div>
                    <div class="tarifContentText">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Formulaire de contact &amp map</p>
                    </div>
                    <div class="tarifContentText1">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Lien de partage sur les réseaux sociaux</p>
                    </div>
                    <div class="tarifContentText">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Optimisation du référencement</p>
                    </div>
                    <div class="tarifContentText1">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Mise en ligne du site</p>
                    </div>
                    <div class="tarifContentText">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Formation utilisation du site</p>
                    </div>
                </div>
                <div class="tarifContent2">
                    <h3 class="tarifContentTitre">Site Vitrine <br>Modifications dynamiques</h3>
                    <hr class="hrTarif1"><br><br>
                    <p class="tarifTitreP">A partir de</p>
                    <p class="tarifP">3000<sup class="euro">€</sup><sup class="etoile">*</sup></p><br><br>
                    <hr class="hrTarif1"><br><br>
                    <div class="tarifContentText1">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Création d'une charte graphique personalisée</p>
                    </div>
                    <div class="tarifContentText">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Domaine + hébergement pendant 12 mois</p>
                    </div>
                    <div class="tarifContentText1">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Interface administrateur SUR-MESURE</p>
                    </div>
                    <div class="tarifContentText">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Site responsive <br>(adapté tous supports)</p>
                    </div>
                    <div class="tarifContentText1">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Mise en place du contenu (textes &amp images)</p>
                    </div>
                    <div class="tarifContentText">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Formulaire de contact &amp map</p>
                    </div>
                    <div class="tarifContentText1">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Lien de partage sur les réseaux sociaux</p>
                    </div>
                    <div class="tarifContentText">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Optimisation du référencement</p>
                    </div>
                    <div class="tarifContentText1">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Mise en ligne du site</p>
                    </div>
                    <div class="tarifContentText">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Formation utilisation du site</p>
                    </div>
                    <div class="tarifContentText1">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Installation &amp configuration des plugins choisis</p>
                    </div>
                </div>
                <div class="tarifContent1">
                    <h3 class="tarifContentTitre">Forfait <br> Maintenance</h3>
                    <hr class="hrTarif1"><br><br>
                    <p class="tarifTitreP">50 €/h<span class="etoile1">**</span> ou</p>
                    <p class="tarifP">400<sup class="euro">€/an</sup><sup class="etoile2">***</sup></p><br><br>
                    <hr class="hrTarif1"><br><br>

                    <div class="tarifContentText">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Mises à jour site internet &amp plugins</p>
                    </div>
                    <div class="tarifContentText1">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Petites modification graphiques ou de contenu</p>
                    </div>
                    <div class="tarifContentText">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Sauvegardes externalisées</p>
                    </div>
                    <div class="tarifContentText1">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Optimisation <br> performances</p>
                    </div>
                    <div class="tarifContentText">
                        <span class="fleche"><i class="fa-solid fa-arrow-right fa-sm itarif"></i></span>
                        <p class="tarifContentText">Restauration en cas de piratage</p>
                    </div>
                    <div class="tarifContent11">
                        <h3 class="tarifContentTitre">Développements Spécifiques</h3>
                        <hr class="hrTarif1"><br><br>
                        <p class="tarifP">350<sup class="euro">€/jour</sup></p>
                    </div>
                </div>
            </div>
            <div class="condition">
                <p class=>L'ensemble des tarifs indiqués sont H.T. * Prix à titre informatif : 
                    Changement possible selon les demandes et les choix du client. 
                    ** Estimation du temps de travail appuyé par un devis. <br> 
                    *** Maintenance annuelle (engagement 12 mois). 
                    Droit d'auteur &amp propriété intellectuelle : Vous êtes à la fin du projet, 
                    propriétaire de l'ensemble des sources (fichiers) composant <br> 
                    Paiment possible en plusieurs fois.

                </p>
            </div>
        </div>
        <div>
                <a class="retour" href="{{ path('app_home') }}">Retour</a>
        </div>
    </main>
{% endblock %}
